* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #ADAFB2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  padding-bottom: 15px;
}

button:focus, input:focus {
  outline: none;
}

h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

a {
  cursor: pointer;
  color: #ADAFB2;
  transition: all .2s ease;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

p {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  color: #ADAFAD;
}

div.wrapper {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 5px 20px;
  background-color: #282828;
  border-bottom: 1px solid #000;
  overflow: hidden;
  color: #A0A0A0;
  z-index: 6;
}

nav div.wrapper-left div.logo img {
  width: 40px;
  float: left;
}

nav div.wrapper-left {
  float: left;
  width: calc(100% - 220px);
}

nav div.wrapper-right {
  float: right;
  width: 220px;
}

div.logo {
  margin-right: 10px;
  float: left;
}

div.arrows-nav {
  margin-top: 10px;
  float: left;
}

nav a {
  color: #A0A0A0;
}

nav a:hover {
  color: #ffffff;
}

div.music-search {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

div.music-search input[type=text] {
  border-radius: 20px;
  border: none;
  padding: 3px 30px 6px;
  width: 250px;
  color: #181818;
  margin-top: 1px;
}

::-webkit-input-placeholder {
   color: black;
   font-size: 12px;
   vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color:  black;
}

div.arrows-nav span.left-arrow {
  margin-left: 20px;
}

div.arrows-nav span.right-arrow {
  margin-left: 20px;
}

div.music-search span.search-icon {
  right: -27px;
  top: 2px;
  color: black;
  font-size: 13px;
}

div.account-dropdown {
  margin-top: 10px;
  float: right;
}

div.user-info {
  float: right;
  margin-right: 20px;
}

div.user-info img {
  border-radius: 50%;
  height: 35px;
  margin-right: 10px;
  margin-top: 4px;
}

div.user-info p {
  /*margin-top: 10px;*/
}

div.user-info p, div.user-info img {
  display: inline-block;
  vertical-align: middle;
}

sidebar {
  display: block;
  width: 200px;
  background-color: #282828;
  height: 100%;
  position: fixed;
  z-index: 1;
  color: #ADAFB2;
  margin-top: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
}

div.playlist-wrapper {
  max-height: 100%;
  overflow: scroll;
  padding-left: 10px;
  height: calc(100% - 363px);
}

sidebar h3 {
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 0 5px;
  letter-spacing: 2px;
  font-size: 12px;
}

ul.playlists > li {
  padding: 9px 10px 9px 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

ul.playlists > li a:hover {
  padding-left: 5px;
}

ul.playlists > li:before {
    content: "\e002";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    font-weight: 300;
    padding-right: 15px;
}

div.currently-playing-wrapper {
  width: 200px;
  background-color: #282828;
  position: fixed;
  bottom: 60px;
}

div.album-cover img {
  width: 100%;
}

div.currently-playing-info {
  padding: 10px 10px;
}

div.currently-playing-info p.song {
  font-size: 14px;
  padding-bottom: 5px;
}

div.currently-playing-info p.artist {
  font-size: 12px;
}

currently-playing {
    position: fixed;
    width: 200px;
    z-index: 9;
    bottom: 60px;
}

ui-view {
  display: block;
  padding: 20px;
  overflow: hidden;
  height: calc(100% - 110px);
  position: fixed;
  right: 0;
  top: 50px;
  width: calc(100% - 200px);
  overflow: scroll;
}

ui-view h1 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

ui-view h3 {
  padding: 10px 0;
  border-bottom: 1px solid #282828;
  margin-bottom: 30px
}

div.home-nav {
  width: 100%;
  border-bottom: 1px solid #282828;
  padding: 19px 0;
  margin-top: 30px;
}

div.home-nav > ul {

}

div.home-nav > ul > li {
  display: inline;
  text-transform: uppercase;
  padding: 15px 0;
  margin-right: 20px;
}

div.home-nav > ul > li.active {
  border-bottom: 3px solid #2CB7FF;
}

div.home-nav > ul > li.active a {
  color: #fff;
}


div.home-nav {
  display: block;
  margin-bottom: 40px;
}

ul.songs > li {
  display: inline-block;
  margin: 0 20px 20px 0;
}

ul.songs > li img {
  width: 220px;
}

ul.songs > li div.info {
  background-color: #282828;
  padding: 20px 10px;
}

ul.songs > li div.info p {
  text-align: center;
  padding-bottom: 6px;
}

.sticky-top {
  position: fixed;
  top: 20px;
  z-index: 999999999;
  background-color: rgba(0, 0, 0, .7);
  padding-left: 20px !important;
  left: 200px;
}

div.album-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

div.artwork > img {
  width: 150px;
}

div.artwork, div.album-info {
  display: inline-block;
  vertical-align: top;
}

div.album-info {
  padding-left: 10px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #282828;
}

.table>thead>tr>th.time span {
  font-size: 13px;
}

.table>thead>tr>th.title {
  font-size: 12px;
  text-transform: uppercase;
}

.table>tbody>tr>td {
  border-bottom: 1px solid #282828;
}

.table>tbody>tr>td.name {
  color: #fff;
  font-size: 13px;
}

.table>tbody>tr>td.time {
  font-size: 13px;
}

.table>tbody>tr:hover {
  transition: all .2s ease;
}

.table>tbody>tr:hover {
  background-color: #282828;
}

div.song>div.img {
  position: relative;
}

span.album-overlay {
  background: rgba(0, 0, 0, 0.75);
  height: 220px;
  position: absolute;
  visibility: hidden;
  width: 220px;
  top: 0;
  z-index: 3;
}

span.album-overlay:hover {
  visibility: visible;
}

span.album-overlay>span.play {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  left: 85px;
  top: 85px;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

span.album-overlay>span.play:hover {
  transform: scale(1.4);
}

div.single-album-wrapper>div.album-header>div.artwork>img {
  width: 220px;
}

div.single-album-wrapper>div.album-header {
  margin-bottom: 30px;
}

div.single-album-wrapper>div.album-header>div.album-info>p.year {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding-bottom: 10px;
}

div.album-header>div.album-info>h1 {
  font-weight: 400;
  font-size: 35px;
}

div.album-info > p.album-details {
  font-size: 13.5px;
  padding-bottom: 10px;
}

div.album-info > p.album-details a {
  color: #fff;
}

div.album-info > p.album-details a:hover {
  text-decoration: underline;
}

div.album-info > h1 > a {
  color: #fff;
}

div.album-info > h1 > a:hover {
  text-decoration: underline;
}

button.search {
  background: none;
  border: none;
  left: -35px;
  top: 2px;
  position: relative;
  color: #282828;
}

bottom-play {
  display: block;
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 5px 20px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 3;
  border-top: 1px solid #000;
}

search-results {
  display: none;
  position: absolute;
  z-index: 8;
  left: 188px;
  top: 40px;
  width: 250px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #282828;
  text-align: center
  transition: all .2s ease;
  border-radius: 6px;
  box-shadow: 0px 1px 3px #000;
}

search-results h3 {
  padding: 3px 0;
  color: #898989;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}

div.sr-wrapper {
  margin-bottom: 25px;
  float: left;
  width: 100%;
}

div.sr-top-songs>div.song {
  width: 100%;
  background-color: #333333;
  margin-bottom: 3px;
  padding: 8px 10px;
}

div.sr-top-songs>div.song p.title {
  color: #fff;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
}

div.album {
  width: 100%;
  background-color: #333333;
}

div.sr-top-albums>div.album>div.album-img {
  width: 60px;
  height: 60px;
  float: left;
}

div.sr-top-albums>div.album>div.album-details {
  width: 168px;
  height: 60px;
  float: left;
  padding: 12px 10px;
  background-color: #333333;
  margin-bottom: 3px;
}

div.sr-top-albums>div.album>div.album-details>p.title {
  color: #fff;
  font-weight: 400;
  padding-bottom: 8px;
}

div.sr-top-albums>div.album>div.album-details>p {
  font-size: 14px;
}

div.album>img {
  display: inline-block;
}
div.album>p {
  display: inline-block;
  vertical-align: top;
}

div.sr-top-songs>div.song:hover {
  background-color: #4D4D4D;
}

.show {
  display: block;
}
