<div class="welcome">
  <h1 class="welcome">Welcome to Spoofify, Ryan</h1>
</div>
<div home-scroll id="home-nav" class="home-nav">
  <ul>
    <li><a ui-sref="home">Overview</a></li>
    <li><a ui-sref="newReleases">New Releases</a></li>
    <li class="active"><a ui-sref="charts">Charts</a></li>
    <li><a href="#">Genres</a></li>
  </ul>
</div>
<h3>United States Top 50 Songs</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="song in topSongs | limitTo : 50">
      <div class="song">
        <div class="img">
          <img ng-src="{{song.coverArt}}" />
        </div>
        <div class="info">
          <p>
            {{song.songName}}
          </p>
          <p>
            {{song.artistName}}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<h3>United States Top 50 Albums</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="album in topAlbums | limitTo : 50">
      <div class="song">
        <div class="img">
          <img ng-src="{{album.coverArt}}" />
        </div>
        <div class="info">
          <p>
            {{album.songName}}
          </p>
          <p>
            {{album.artistName}}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
