<div class="welcome">
  <h1 class="welcome">Welcome to Spoofify, Ryan</h1>
</div>
<div home-scroll id="home-nav" class="home-nav">
  <ul>
    <li class="active"><a ui-sref="home">Overview</a></li>
    <li><a ui-sref="newReleases">New Releases</a></li>
    <li><a ui-sref="charts">Charts</a></li>
    <li><a href="#">Genres</a></li>
  </ul>
</div>
<h3>Featured Albums</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="album in featuredAlbums">
      <div class="song">
        <div class="img" album-overlay>
          <a id="album-cover" ui-sref="artist({id : {{album.artistID}}})"><img ng-src="{{album.coverArt}}" />
          <span class="album-overlay"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></span>
          </a>
        </div>
        <div class="info">
          <p>
            {{album.albumName}}
          </p>
          <p>
            <a ui-sref="artist({id : {{album.artistID}}})">{{album.artistName}}</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<h3>Top Songs</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="song in topSongs | limitTo : 10">
      <div class="song">
        <div class="img" album-overlay>
          <a ui-sref="artist({id : {{song.artistID}}})"><img ng-src="{{song.coverArt}}" />
          <span class="album-overlay"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></span>
          </a>
        </div>
        <div class="info">
          <p>
            {{song.songName}}
          </p>
          <p>
            <a ui-sref="artist({id : {{song.artistID}}})">{{song.artistName}}</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

<h3>Top Albums</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="album in topAlbums | limitTo : 10">
      <div class="song">
        <div class="img" album-overlay>
          <a ui-sref="album({id : {{album.albumId}}})"><img ng-src="{{album.coverArt}}" />
          <span class="album-overlay"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></span>
          </a>
        </div>
        <div class="info">
          <p>
            {{album.albumName}}
          </p>
          <p>
            <a ui-sref="album({id : {{album.albumId}}})">{{album.artistName}}</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
