<div class="welcome">
  <h1 class="welcome">Welcome to Spoofify, Ryan</h1>
</div>
<div home-scroll id="home-nav" class="home-nav">
  <ul>
    <li><a ui-sref="home">Overview</a></li>
    <li class="active"><a ui-sref="newReleases">New Releases</a></li>
    <li><a ui-sref="charts">Charts</a></li>
  </ul>
</div>
<h3>New Releases</h3>
<div class="song-wrapper">
  <ul class="songs">
    <li ng-repeat="newRelease in newReleases">
      <div class="song">
        <div class="img" album-overlay>
          <a ui-sref="artist({id : {{newRelease.artistID}}})">
            <img ng-src="{{newRelease.coverArt}}" />
            <span class="album-overlay"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></span>
          </a>
        </div>
        <div class="info">
          <p>
            {{newRelease.songName}}
          </p>
          <p>
            <a ui-sref="artist({id : {{newRelease.artistID}}})">{{newRelease.artistName}}</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
