<div class="single-album-wrapper" ng-repeat="album in singleAlbum | orderBy: parseInt(album.releaseYear)">
  <div class="album-header">
    <div class="artwork">
      <img ng-src="{{album.coverArt}}" />
    </div>
    <div class="album-info">
      <p class="year">
        Album
      </p>
      <h1>{{album.albumName}}</h1>
      <p class="album-details">
        By <a ui-sref="artist({id: album.artistId})">{{album.artistName}}</a> &#8226 {{album.releaseYear}} &#8226 {{album.trackCount}} songs, {{album.totalAlbumTime}} min
      </p>
      <p class="album-details">
        Genre: {{album.genre}}
      </p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th class="title">Song</th>
        <th class="time"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>
        <th class="title"></th>
      </tr>
    </thead>
    <tbody class="songs-list">
      <tr song-play ng-repeat="song in album.songs">
        <td>
          <span class="number">{{song.trackNumber}}</span>
        </td>
        <td class="name">{{song.trackName}}</td>
        <td class="time">{{song.trackTime}}</td>
        <td id="actions">
          <a id="pause" ng-click="pausePreview()"><span class="glyphicon glyphicon-pause pause" aria-hidden="true"></span></a>
          <a id="play" ng-click="playPreview(song.previewUrl, song.trackId, song.trackNumber)"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
