<div class="single-album-wrapper" ng-repeat="album in singleAlbum | orderBy: parseInt(album.releaseYear)">
  <div class="album-header">
    <div class="artwork">
      <img ng-src="{{album.coverArt}}" />
    </div>
    <div class="album-info">
      <p class="year">
        Album
      </p>
      <h1>{{album.albumName}}</h1>
      <p class="album-details">
        By <a ui-sref="artist({id: album.artistId})">{{album.artistName}}</a> &#8226 {{album.releaseYear}} &#8226 {{album.trackCount}} songs, {{album.totalAlbumTime}} min
      </p>
      <p class="album-details">
        Genre: {{album.genre}}
      </p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th class="title">Song</th>
        <th class="time"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in album.songs">
        <td>{{song.trackNumber}}</td>
        <td class="name">{{song.trackName}}</td>
        <td class="time">{{song.trackTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
