<h1>{{artistAlbums[0].artistName}}</h1>
<h3>Albums</h3>
<div class="album-wrapper" ng-repeat="album in artistAlbums | orderBy: parseInt(album.releaseYear)">
  <div class="song">
    <div class="img" album-overlay>
      <a id="album-cover" ui-sref="album({id : album.albumId})"><img ng-src="{{album.albumArtwork}}" />
      <span class="album-overlay"><span class="glyphicon glyphicon-play-circle play" aria-hidden="true"></span></span>
      </a>
    </div>
    <div class="info">
      <p style="padding-bottom:5px;"><a ui-sref="album({id : {{album.albumId}}})">{{album.albumName}}</a></p>
      <p>{{album.releaseYear}}</p>
    </div>
  </div>
</div>
