<div class="currently-playing-wrapper">
  <div class="album-cover">
    <img src="../images/sample-album-cover.png" alt="" />
  </div>
  <div class="currently-playing-info">
    <p class="song">
      Smells Like Tean Spirit
    </p>
    <p class="artist">
      Nirvana
    </p>
  </div>
  <div class="play-controls">
    <div class="previous">
      <button><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
    </div>
    <div class="play">
      <button><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    </div>
    <div class="next">
      <button><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
