  <div class="playlist-wrapper">
    <h3 style="margin:10px 0 20px 0;"><a ui-sref="home">
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      Browse
    </a></h3>
    <h3>Playlists</h3>
    <ul class="playlists">
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
    </ul>
  </div>
