  <div class="playlist-wrapper">
    <h3>Playlists</h3>
    <ul class="playlists">
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
      <li><a href="#">Playlist Number 1</a></li>
      <li><a href="#">Playlist Number 2</a></li>
      <li><a href="#">Playlist Number 3</a></li>
      <li><a href="#">Playlist Number 4</a></li>
    </ul>
  </div>
  <div class="currently-playing-wrapper">
    <div class="album-cover">
      <img src="../images/sample-album-cover.png" alt="" />
    </div>
    <div class="currently-playing-info">
      <p class="song">
        Smells Like Tean Spirit
      </p>
      <p class="artist">
        Nirvana
      </p>
    </div>
  </div>
